/* Styles pour la fenêtre principale */
QMainWindow {
    background-color: #f0f0f0;
}

/* Styles pour les labels */
QLabel {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

/* Styles pour les QLineEdit (zones de texte) */
QLineEdit {
    padding: 1px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* Styles pour les QPushButton (boutons) */
QPushButton {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #2980b9;
}

/* Styles pour les QTreeWidget (tableaux) */
QTreeWidget {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

QTreeWidget::item {
    padding: 5px;
}

QTreeWidget::item:selected {
    background-color: #3498db;
    color: #ffffff;
}

QTreeWidget::item:hover {
    background-color: #2875a8;
}

/* Styles pour la zone de recherche (QLineEdit) */
QLineEdit#entry_search {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* Styles pour le menu déroulant (QComboBox) */
QComboBox#search_combobox {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* Styles pour les cellules en mode édition */
QTreeWidget QAbstractItemView QLineEdit {
    padding: 2px; /* Ajustez le padding pour l'édition des cellules */
    border: 1px solid #cccccc;
    background-color: #ffffff;

}

QTabWidget::pane {
    border: 1px solid lightgray;
    top: -1px;
    background: rgb(245, 245, 245);
}

QTabBar::tab {
    background: rgb(210, 210, 210);
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

QTabBar::tab:selected {
    background: rgb(210, 250, 255);
    margin-bottom: -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

QTabBar::tab:hover {
    background: rgb(225, 225, 225)
}

QScrollArea {
    border: none;
}

QScrollBar {
    background: rgb(245, 245, 245);
    border-radius: 8px;
}

QScrollBar:horizontal {
    height: 8px;
}

QScrollBar:vertical {
    width: 8px;
}

QScrollBar::handle {
    background: rgb(138, 138, 138);
    border-radius: 5px;
}

QScrollBar::handle:horizontal {
    height: 25px;
    min-width: 10px;
}

QScrollBar::handle:vertical {
    width: 25px;
    min-height: 10px;
}

QScrollBar::add-line {
    border: none;
    background: none;
}

QScrollBar::sub-line {
    border: none;
    background: none;
}
